@import "./theme.scss";

.auto-container {
  background-color: #fff;
  z-index: 1;
  &.relative {
    width: 100%;
    position: relative;
  }
  ul {
    // max-height: 300px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    margin-top: -2px;
    padding-top: 2px;
    display: flow-root;
    z-index: -1;
    border-top-width: 0;
    @include border-radius-bottom;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-color: $pc-theme-border;
    &.top {
      margin-top: 0;
      padding-bottom: 2px;
      @include border-radius-bottom(0);
      @include border-radius-top;
      border-top-width: 1px;
      border-bottom-width: 0;
    }
    li {
      padding: 5px;
      &:hover,
      &.hover {
        background-color: $pc-theme-primary-2;
      }
      &.active {
        background-color: $pc-theme-primary;
      }
      &.not {
        background-color: $pc-theme-error-2;
      }
    }
  }
  &:hover .input-container input {
    border: 1px solid $pc-theme-primary !important;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px $pc-theme-primary-2;
  }
}
